<html>
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/global.css">
  <body>
<footer class="footer">
  <!-- Topo do footer: informações e links -->
  <div class="footer-top  text-white py-5">
    <div class="container">
      <div class="row">
        <!-- Sobre a Barbearia -->
        <div class="col-12 col-md-4 mb-4">
            <a href="" class="text-decoration-none text-white mb-4  ">
                <img src="assets/img/donanaLogo.png" alt="icone" width="90" >
                <span class="text-caramelo">Delícias da </span> Donana 
            </a>
          <p class="footer-text mt-4">
            Nosso compromisso é oferecer a melhor qualidade em nossos produtos.
          </p>
        </div>
        <!-- Contato -->
        <div class="col-12 col-md-4 mb-4">
          <h5 class="footer-title">Contato</h5>
          <ul class="list-unstyled footer-list">
            <!-- <li><i class="bi bi-geo-alt-fill me-2"></i>R. Luziânia, N°425 - Vila Jaiara, Anápolis - GO, 75064-330</li> -->
            <li><i class="bi bi-telephone-fill me-2"></i>+55 62 99130-0232</li>
            <li><i class="bi bi-envelope-fill me-2"></i>Em breve</li>
            <li><i class="bi bi-clock-fill me-2"></i>Seg-Sáb: 09h–18h</li>
          </ul>
        </div>
        <!-- Redes Sociais -->
        <div class="col-12 col-md-4 mb-4 text-md-end">
          <h5 class="footer-title">Siga-nos</h5>
          <a href="#" class="social-icon me-2 text-white fs-3"><i class="bi bi-instagram"></i></a>
          <a href="#" class="social-icon me-2 text-white fs-3"><i class="bi bi-facebook"></i></a>
          <a href="#" class="social-icon text-white fs-3"><i class="bi bi-whatsapp"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Rodapé inferior: direitos -->
  <div class="footer-bottom text-white text-center py-3">
    <div class="container small">
      &copy; 2025 Delícias da Donana. Todos os direitos reservados.
    </div>
  </div>
</footer>
    
  </body>
</html>
